/*
 * CellProfiler 4.2.8 needs javabridge to load libjvm.so.  The Galaxy
 * Singularity image contains it at /usr/local/lib/jvm/lib/server/libjvm.so,
 * but that directory is not on the dynamic linker path by default.
 *
 * Use with:
 *   nextflow -c ./singularity_cellprofiler_java.config run . -profile test,singularity ...
 */

params.config_test_marker = 'LOADED'

env {
    SINGULARITYENV_JAVA_HOME = '/usr/local/lib/jvm'
    SINGULARITYENV_LD_LIBRARY_PATH = '/usr/local/lib/jvm/lib/server:/usr/local/lib/jvm/lib'
}

singularity {
    runOptions = '--env JAVA_HOME=/usr/local/lib/jvm --env LD_LIBRARY_PATH=/usr/local/lib/jvm/lib/server:/usr/local/lib/jvm/lib'
}

process {
    withName: /.*CELLPROFILER_.*/ {
        beforeScript = '''
            echo "JAVA_HOME=${JAVA_HOME:-unset}"
            echo "LD_LIBRARY_PATH=${LD_LIBRARY_PATH:-unset}"
            echo "SINGULARITYENV_JAVA_HOME=${SINGULARITYENV_JAVA_HOME:-unset}"
            echo "SINGULARITYENV_LD_LIBRARY_PATH=${SINGULARITYENV_LD_LIBRARY_PATH:-unset}"
        '''
    }
}
