  params.config_test_marker = 'LOADED'
  process {
    withName: 'NFCORE_CELLPAINTING:CELLPAINTING:CELLPROFILER_ILLUMINATIONCORRECTION' {
      beforeScript = '''
        export JAVA_HOME=/usr/local/lib/jvm
        export LD_LIBRARY_PATH=/usr/local/lib/jvm/lib/server:${LD_LIBRARY_PATH:-}
        echo "JAVA_HOME=$JAVA_HOME"
        echo "LD_LIBRARY_PATH=$LD_LIBRARY_PATH"
      '''
    }

    withName: 'NFCORE_CELLPAINTING:CELLPAINTING:CELLPROFILER_ASSAYDEVELOPMENT' {
      beforeScript = '''
        export JAVA_HOME=/usr/local/lib/jvm
        export LD_LIBRARY_PATH=/usr/local/lib/jvm/lib/server:${LD_LIBRARY_PATH:-}
        echo "JAVA_HOME=$JAVA_HOME"
        echo "LD_LIBRARY_PATH=$LD_LIBRARY_PATH"
      '''
    }

    withName: 'NFCORE_CELLPAINTING:CELLPAINTING:CELLPROFILER_ANALYSIS' {
      beforeScript = '''
        export JAVA_HOME=/usr/local/lib/jvm
        export LD_LIBRARY_PATH=/usr/local/lib/jvm/lib/server:${LD_LIBRARY_PATH:-}
        echo "JAVA_HOME=$JAVA_HOME"
        echo "LD_LIBRARY_PATH=$LD_LIBRARY_PATH"
      '''
    }
  }